<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" charset="utf-8"></script>

    <title>Boolflix</title>
  </head>

  <body>

    <main>
      <div id="app">
        <header>
          <img src="img/boolflix.png" alt="">
          <input v-model="input" @keyup.enter="search_title" placeholder="Find your title" type="text" name="" value="">
        </header>

        <!-- div  disc box che viene clonato col ciclo per ogni
        elemento in album( album viene riempito da axios) -->
        <div class="movie_box" v-for="element in all_Media">
            <div class="cover"><img :src="element.poster_path == 'https://image.tmdb.org/t/p/w342null' ? 'img/na.jpg' : element.poster_path" alt=""> </div>
            <div class="info">

              <div class="title">{{element.title}}</div>
              <div class="original_title">{{element.original_title}}</div>
              <div class="language"> <img :src="element.original_language" alt=""> </div>

              <div class="stars">
                  <span v-if="element.vote_average == 0" class="white">N/A </span>
                  <i class="fas fa-star" v-if="element.vote_average > 0"></i>
                  <i class="fas fa-star" v-if="element.vote_average > 1"></i>
                  <i class="fas fa-star" v-if="element.vote_average > 2"></i>
                  <i class="fas fa-star" v-if="element.vote_average > 3"></i>
                  <i class="fas fa-star" v-if="element.vote_average > 4"></i>
              </div>
            </div>
        </div>
      </div>

    </main>

     <script src="js/script.js" charset="utf-8"></script>

  </body>

</html>
